.proyectCard {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  height: auto;
  width: 325px;
  box-shadow: 0px 10px 15px rgba(255, 136, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.61);
  .imgCard {
    cursor: pointer;
    width: 100%;
    transition: transform 1s;
  }

  .imgCard:hover {
    transform: scale(1.1);
  }
  .info {
    padding: 10px;
    gap: 10px;
    display: flex;
    height: 350px; //chapuza ya se , funcion .
    flex-direction: column;
    justify-content: space-between;
    .buttonContainer{
        display: flex;
        justify-content: space-around;
        gap: 20px;
        margin-bottom: 15px;
        button {
            cursor: pointer;
            width: 130px;
            height: 40px;
            border-radius: 100px;
            font-family: var(--font-family-style);
            font-weight: bold;
            font-size: 16px;
        }
        .gitButton{
            color: white;
            background-color: rgb(0, 0, 0);
            border: 2px solid rgb(71, 71, 71);
            transition: transform 0.3s , background-color 0.3s, border 0.3s;
        }
        .gitButton:hover{
            transform: scale(1.1);
            background-color: rgb(73, 73, 73);
            border: 2px solid rgb(0, 0, 0);
        }
        .webButton{
            color: white;
            background: var(--color-background-frames-left);
            border: 2px solid rgb(255, 145, 0);
            transition: transform 0.3s , background-color 0.3s , border 0.3s;
        }
        .webButton:hover{
          transform: scale(1.1);
          background-color: var(--color-gradient1);
          background: var(--color-background-frames-left);
          border: 2px solid orange;
      }
        .webButton:disabled{
          background: #dddddd;
          color: #666666;
          border: 2px solid rgb(0, 0, 0);
          cursor: not-allowed;
        }
        .webButton:disabled:hover{
          transform: scale(1);
          background: #dddddd;
          color: #666666;
          border: 2px solid rgb(0, 0, 0);
          cursor: not-allowed;
        }
    }
    h4{
        font-size: 18px;
        margin: 0;
    }
    p {
        margin: 0;
        margin-right: 40px;
        margin-left: 20px;
        margin-bottom: 20px;
        font-size: 15px;
    }
  }
}
